
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br />
    <p>To add a new item to your product list click @Html.ActionLink("here.", "Create", "Products") </p>
    <p>To add a new item to your inventory list click @Html.ActionLink("here.", "Create", "Inventories")</p>

</div>
