@{
    ViewData["Title"] = "Home Page";
}
<html>
<body class="action-home">
    <div class="action-grid"> 
        
        <a class="action-column " asp-controller="Inventories" asp-action="Index" title="Click here to go to the Inventory Page">
            <div class="action-image ">
                <img class="images " src="images/inventory-image.jpg" title="Click here to go to the Inventory Page" />
            </div>
            <br />
            <div class="action-text images">
                <div class="action-title">INVENTORY</div>
                <div class="action-filler">Get access to your fully updated inventory list at the click of a button.</div>
            </div>
        </a>

        <a class="action-column" asp-controller="Products" asp-action="Index" title="Click here to go to the Products Page">
            <div class="action-image">
                <img class="images" src="images/edit-products.png" title="Click here to go to the Products Page" />
            </div>
            <br />
            <div class="action-text images">
                <div class="action-title">EDIT PRODUCTS</div>
                <div class="action-filler">Edit details about the currents products in the system.</div>
            </div>
        </a>
        <a class="action-column" asp-controller="Inventories" asp-action="InventoryReports" title="Click here to go to the Reports Page">
            <div class="action-image">
                <img class="images" src="images/reports.jpeg" title="Click here to go to the Reports Page">
            </div>
            <br />
            <div class="action-text images">
                <div class="action-title">REPORTS</div>
                <div class="action-filler">View a variety of reports about your inventory and locations.</div>
            </div>
        </a>
        <a class="action-column" asp-controller="Events" asp-action="Index" title="Click here to go to the Events Page">
            <div class="action-image">
                <img class="images" src="images/events.jpg" title="Click here to go to the Events Page" />
            </div>
            <br />
            <div class="action-text images">
                <div class="action-title">EVENTS</div>
                <div class="action-filler">Book out an item for an upcoming event.</div>
            </div>
        </a>
    </div>
</body>
</html>