
@{
    ViewData["Title"] = "Home Page";
}

<body class="action-home">
    <section class="action-center">
        <a class="action-grid" asp-controller="Inventories" asp-action="Index">
            <div  class="action-colomn" >
                <div class="action-image" ></div>
                <div class="action-text" >
                    <div class="action-title">Inventory</div>
                    <div class="action-filler">See your up to date inventory</div>
                </div>
            </div>
        </a>
        <a class="action-grid">
            <div href="#" class="action-colomn">
                <div class="action-image" style="background-image:url('/images/inventory-image.jpg')"></div>
                <div class="action-text">
                    <div class="action-title">Inventory</div>
                    <div class="action-filler">See your up to date inventory</div>
                </div>
            </div>
        </a>
        <a class="action-grid">
            <div href="#" class="action-colomn">
                <div class="action-image" style="background-image:url('/images/inventory-image.jpg')"></div>
                <div class="action-text">
                    <div class="action-title">Inventory</div>
                    <div class="action-filler">See your up to date inventory</div>
                </div>
            </div>
        </a>
        <a class="action-grid">
            <div href="#" class="action-colomn">
                <div class="action-image" style="background-image:url('/images/inventory-image.jpg')"></div>
                <div class="action-text">
                    <div class="action-title">Inventory</div>
                    <div class="action-filler">See your up to date inventory</div>
                </div>
            </div>
        </a>
    </section>
</body>