@model CAA_TestApp.Models.EventInventory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Event</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input hidden asp-for="Event.Quantity" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Event.Title" class="control-label"><strong>Title</strong></label>
                <input asp-for="Event.Title" class="form-control" />
                <span asp-validation-for="Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Date" class="control-label"><strong>Date</strong></label>
                <input asp-for="Event.Date" class="form-control" />
                <span asp-validation-for="Event.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventLocation" class="control-label"><strong>Event Location</strong></label>
                <input asp-for="Event.EventLocation" class="form-control" />
                <span asp-validation-for="Event.EventLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Notes" class="control-label"><strong>Notes</strong></label>
                <span asp-validation-for="Event.Notes" class="text-danger"></span>
                @Html.TextAreaFor(i => i.Event.Notes, new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                <input type="submit" title=" Click here to save the changes " value="Save" class="btn btn-outline-primary btn-style" style="margin-top:10px;"  />
                    <a asp-action="Index" title=" Click here to go back to main List">Back to List</a>

            </div>

            <div class="form-group">
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
