html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-style {
    border-radius: 25px;
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

    .btn-style:hover {
        background-color: #1820bd;
        color: white;
        border: 2px solid black;
    }

.addButton {
    border-radius: 5px;
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

.btn-outline-secondary {
    border-radius: 25px;
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

    .btn-outline-secondary:hover {
        background-color: #1820bd;
        color: white;
        border: 2px solid black;
    }

.add-button-style {
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

/****************HOMEPAGE***********************/
.action-home {
    background-image: url('/images/background-home.jpg');
}

.action-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items:center;
    grid-auto-rows: 500px;
    gap: 10px;
    padding-top: 75px;
}

.action-column, .action-column:visited, .action-column:hover, .action-column:active {
    text-decoration: none;
    color: inherit;
}

.images {
    max-width: 100%;
    height: 275px;
} 

.action-title {
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.action-filler {
    text-align: center;
    padding-top: 15px;
}

.action-text {
    background-color: white;
    height: 130px;
}

/*image*/
.deimage {
    flex-basis: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.data-container {
    display: flex;
    justify-content: space-between;
}

.data-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    flex-basis: 50%;
}
