html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-style {
    border-radius: 25px;
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

    .btn-style:hover {
        background-color: #1820bd;
        color: white;
        border: 2px solid black;
    }

.addButton {
    border-radius: 5px;
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

.btn-outline-secondary {
    border-radius: 25px;
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

    .btn-outline-secondary:hover {
        background-color: #1820bd;
        color: white;
        border: 2px solid black;
    }

.add-button-style {
    border: 2px solid #185dbd;
    background-color: #185dbd;
    color: white;
}

/****************HOMEPAGE***********************/
.action-home {
    background-image: url('/images/background-home.jpg');
}

.action-center {
    padding-top:150px;
}

.action-grid {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.action-image {
    height: 350px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center center;

}

.action-text {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: bisque;
}

.action-image {
    background-image: url('/images/inventory-image.jpg');

}
