@model CAA_TestApp.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Category</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Classification" class="control-label"><strong>Category</strong>(Required)*</label>
                <input asp-for="Classification" class="form-control" />
                <span asp-validation-for="Classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" title=" Click here to create a new record" value="Create" class="btn btn-primary btn-style" />
                <a asp-action="Index" title=" Click here to go back to main list" class="btn btn-outline-dark btn-style ">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
