@model CAA_TestApp.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classification)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" title=" Click here to edit" asp-route-id="@Model?.ID" class="btn btn-outline-dark btn-style ">Edit</a> |
    <a asp-action="Index" title=" Click here to go back to main list" class="btn btn-outline-dark btn-style ">Back to List</a>
</div>
