@model CAA_TestApp.Models.Inventory

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Inventory</h1>


<hr />

<partial name="_addProductModal" />

<div class="row" id="Right">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"><strong>Product Name</strong></label>
                <div class="input-group mb-3">
                                                            <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID">
                    </select>
                    <div class="input-group-prepend">
                        <button class="btn addButton btn-style add-button-style" id="nowAddProduct" data-bs-toggle="modal" data-bs-target="#addProductModal" type="button" ><strong>+</strong></button>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label" hidden></label>
                <input asp-for="ISBN" class="form-control" type="hidden" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"><strong>Quantity</strong></label>
                <input asp-for="Quantity" class="form-control" min="0" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"><strong>Location</strong></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShelfOn" class="control-label" hidden><strong>Shelf &nbsp;</strong><i style="font-size:12px;">Optional</i></label>
                <input asp-for="ShelfOn" class="form-control" type="hidden" />
                <span asp-validation-for="ShelfOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"><strong>Cost</strong></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReceived" class="control-label"><strong>Date Received</strong></label>
                <input asp-for="DateReceived" class="form-control" />
                <span asp-validation-for="DateReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"><strong>Notes </strong><i style="font-size:12px;">- Optional</i></label>
                <span asp-validation-for="Notes" class="text-danger"></span>
                @Html.TextAreaFor(i => i.Notes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label"><strong>Picture File </strong><i style="font-size:12px;">- Optional</i></label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture">
                </div>
            </div>
            <div class="form-group">
                <input name="submit" type="submit" value="Create" class="btn btn-primary btn-style" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/refreshDDL.js"></script>

    <script type="text/javascript">
        $('#submitProductCreate').click(function (event) {
            event.preventDefault();
            var form = $('#createProductForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addProductModal').modal('hide');
                    },
                    error: function () {
                        alert("Create Failed.  There was a problem adding the record.");
                    }
                });
            }
            return false;
        });
        $('#addProductModal').on('hide.bs.modal', function () {
            $('#createProductForm').find("input[type=text], select").val("");//to clear the data in the popup
            refreshDDL('ProductID', '/Inventories/GetProducts', false, null, true, 'None', true);
        });
    </script>
}
