@model CAA_TestApp.Models.Inventory

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Inventory</h1>


<hr />


<div class="row" id="Right">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"><strong>Product</strong></label>
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label" hidden></label>
                <input asp-for="ISBN" class="form-control" type="hidden" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"><strong>Quantity</strong></label>
                <input asp-for="Quantity" class="form-control" min="0" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"><strong>Location</strong></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShelfOn" class="control-label" hidden><strong>Shelf &nbsp;</strong><i style="font-size:12px;">Optional</i></label>
                <input asp-for="ShelfOn" class="form-control" type="hidden" />
                <span asp-validation-for="ShelfOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"><strong>Cost</strong></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReceived" class="control-label"><strong>Date Received</strong></label>
                <input asp-for="DateReceived" class="form-control" />
                <span asp-validation-for="DateReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"><strong>Notes </strong><i style="font-size:12px;">- Optional</i></label>
                <span asp-validation-for="Notes" class="text-danger"></span>
                @Html.TextAreaFor(i => i.Notes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="hidden" id="hidden" value="#ProductSelected.value" />
            </div>
            <!--<label asp-for="ProductID" class="control-label"></label>
            <div style="display:flex">
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                <button type="button" class="addButton AddPopUp"><strong>+</strong></button>
            </div>

            <div class="modal fade" id="MyPopUp" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
            @*{//Html.RenderPartial("_CreateProduct");}*@


                        <div class="modal-body">
                            <strong>This is for product</strong>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="form-group">
                <label class="control-label custom-file-label"><strong>Picture File </strong><i style="font-size:12px;">- Optional</i></label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture">
                </div>
            </div>
            <div class="form-group">
                <input asp-action="Create" name="submit" type="submit" value="Create" class="btn btn-primary btn-style" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $(".AddPopUp").click(function (e) {
                $('#MyPopUp').modal('show');
            });

            let div = document.querySelector('#Right');
            let hiddenInput = document.querySelector('#hidden');
            let selProd = document.querySelector('#ProductSelected');

            hiddenInput.value = selProd.value;

            div.onclick = function () {
                console.log(hiddenInput.value);
                hiddenInput.value = selProd.value;
            }

            selProd.addEventListener("click", hiddenInput.value = selProd.value);
        });



    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
