
@{
    ViewData["Title"] = "QR Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="parentDiv">

    @if(ViewBag.QRCodeImage != null)
    {
        <div class="alert alert-info">Qr Code Created!</div>
        <img id="qr-code-image" src="@ViewBag.QRCodeImage" style="height:400px; width:400px; margin-left:auto; margin-right:auto; display:block;"><br/>
        <input type="button" class="w-100 btn btn-lg btn-primary btn-style" style="margin-left:auto; margin-right:auto;" value="Print Code" id="print-button" />
    }
    else
    {
        <div class="alert alert-info">Qr Code not created</div>
    }
</div>

<div style="margin-top:20px;">
    <a asp-action="Index" class="btn btn-outline-dark btn-style ">Back to Inventory</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/printQR.js"></script>
}