
@{
    ViewData["Title"] = "QR Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GenerateQr</h1>

<div id="parentDiv">

@if(ViewBag.QRCodeImage != null)
{
    <div class="alert alert-info">Qr Code Created!</div>
    <img src="@ViewBag.QRCodeImage" style="height:200px; width:200px;">
}
else
{
    <div class="alert alert-info">Qr Code not created</div>
}
</div>

<div>
    <a id="printQR" class="btn btn-primary" asp-controller="Qrs" asp-action="DownloadPDF">Print</a>
</div>
