@model CAA_TestApp.Models.Inventory
        <div class="col-md-5 col-md-offset-3"> 
                    <form>
                        <div class="form-group">
                            <h1> Item(s) has been successfully added to In Transit!</h1>
                            <br />
                            <a asp-action="Index">Back to Inventory Records</a> |
                            <a asp-action="ReceivedInv">Inventory In Transit</a>
                        </div>
                    </form>
        </div>
