@model CAA_TestApp.Models.Inventory

@{
    ViewData["Title"] = "Add Inventory";
}

<h1>Scan QR Code</h1>

<style>
    .video-mask {
        border-radius: 10px;
        overflow: hidden;
        object-fit:cover;
        border: 5px #146C94 solid
    }

    .textInput{
        color: green;
        justify-content:center;
        width: 25%;
        height: 50px;
        font-weight:700;
    }
</style>


<form asp-action="ReceiveInv" method="post">
    <div>

        <div class="col-lg-6 col-lg-offset-3">
            <p></p>
                <video playsinline="true" autoplay class="video-mask" id="preview" width="350" height="350"></video> <br />
            <input type="text" class="input-group-text" id="qrCodeValue" name="codeForISBN" placeholder="@Model.ISBN" style="margin-top:20px;" />
            <audio type="audio/mpeg" touchstart preload="auto" mediagroup="audio/mpeg" id="notificationSound" >
                <source src="~/sounds/notification.mp3" type="audio/mp3" />    
            </audio>
        </div>
        
        <h2 style="font-size: 16px; color:red; margin-top:20px;">Are you sure you want to complete this transfer?</h2>
        <input type="hidden" asp-for="ID" />
        <br />
        <input type="submit" title=" Click here to Transfer the inventory" value="Confirm" class="btn btn-danger btn-style" /> 
        <a asp-action="ReceivedInv" title=" Click here to go back to main Inventory List" class="btn btn-outline-dark btn-style ">Back to List</a>
    </div>
</form>

<!-- Include the instascan library -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script src="~/js/Scanning.js"></script>