@model CAA_TestApp.Models.Inventory

@{
    ViewData["Title"] = "Add Inventory";
}

<h1>Complete Transfer</h1>


<form asp-action="ReceiveInv" method="post">
    <div>
        <div>
            <br />
        </div>
@*        <div class="col-lg-6 col-lg-offset-3">
            <p>Scan Qr Code:</p>
            <input type="text" name="codeForISBN" placeholder="@Model.ISBN" />
        </div>*@
        <h2 style="font-size: 16px; color:red;">Are you sure you want to complete this transfer?</h2>
        <input type="hidden" asp-for="ID" />
        <br />
        <input type="submit" value="Transfer" class="btn btn-danger btn-style" /> |
        <a asp-action="ReceivedInv">Back to List</a>
    </div>
</form>
