@model CAA_TestApp.Models.Organize

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Organize</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrganizedBy" class="control-label"><strong>Organized By</strong>(Required)*</label>
                <input asp-for="OrganizedBy" class="form-control" />
                <span asp-validation-for="OrganizedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" title=" Click here to create a new record" class="btn btn-primary btn-style" style="margin-top:10px;" />
                <a asp-action="Index" title=" Click here to go back to main list" class="btn btn-outline-dark btn-style ">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
