@model CAA_TestApp.Models.Organize

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="OrganizedBy" class="control-label"><strong>Organized By</strong></label>
                <input asp-for="OrganizedBy" class="form-control" />
                <span asp-validation-for="OrganizedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" title=" Click here to save changes" value="Save" class="btn btn-primary btn-style" style="margin-top:10px;" />
                <a asp-action="Index" title=" Click here to go back to main list">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
